<div class="wrapper">

    <app-header></app-header>

    <app-sidebar></app-sidebar>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <app-breadcrumbs></app-breadcrumbs>

        <!-- Mi Sistema de Rutas -->
        <section class="content">
            <router-outlet></router-outlet>


            <!-- <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Title</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
            <i class="fas fa-minus"></i></button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
            <i class="fas fa-times"></i></button>
                    </div>
                </div>
                <div class="card-body">
                </div>
            </div> -->

        </section>
    </div>


    <footer class="main-footer">
        <div class="float-right d-none d-sm-block"><b>Version</b> 3.0.5 </div>
        <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
    </footer>

</div>